.pic {
  margin: 3px;
}
.shows {
  width: 30%;
  background-color: red;
  border: 3px solid blue;
  padding: 10px;
  margin: 3px;

}
.paragraph {
  float: right;
  width: 70%;
}
.column {
  float: left;
  width: 50%;
}
